@use "../../../assets/styles/" as *;

.Dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vw;
  border: 1px red solid;
  overflow-wrap: break-word;
  word-wrap: break-word;

  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
